# Javascript builds
node_modules
public
dist
.DS_Store
coverage

# package managers
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.history
.vscode

# IDE - VSCode
.vscode
# For vim
*.swp
