@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.skeleton {
  height: 125px;
  margin-bottom: var(--pf-v5-global--spacer--md);
  margin-top: var(--pf-v5-global--spacer--md);
}

.summary {
  height: 100%;
}
