.breadcrumbOverride {
  .pf-c-breadcrumb__item:not(:last-child) {
    margin-left: var(--pf-c-breadcrumb__item--MarginRight);
    margin-right: 0;
  }

  .pf-c-breadcrumb__item-divider {
    margin-left: 0;
    margin-right: var(--pf-c-breadcrumb__item-divider--MarginLeft);
  }
}
