@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.reportSummaryDetails {
    margin-Bottom: var(--pf-global--spacer--md);
    display: flex;
    align-Items: flex-end;
}

.text {
  padding-Bottom: var(--pf-global--spacer--sm);
  line-Height: var(--pf-global--LineHeight--sm);
  font-Size: var(--pf-global--icon--FontSize--sm);
}

.units {
  padding-Left: var(--pf-global--spacer--xs);
  padding-Bottom: var(--pf-global--spacer--sm);
  line-Height: var(--pf-global--LineHeight--sm);
  font-Size: var(--pf-global--icon--FontSize--xs);
  white-Space: nowrap,
}

.value {
  color: var(--pf-global--Color--100);
  marginRight: var(--pf-global--spacer--sm);
  font-Size: var(--pf-global--icon--FontSize--4xl);
}

.valueContainer {
  display: inline-block;
  margin-Bottom: var(--pf-global--spacer--md);
  width: 50%;
  word-Wrap: break-word;
}
