@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.optimizationsOverride {
  div {
    display: block;
    margin-right: 0;
    margin-bottom: var(--pf-v5-global--spacer--xs);
    &.iconOverride {
      &.decrease {
        // color: var(--pf-v5-global--success-color--100);
      }
      &.increase {
        // color: var(--pf-v5-global--danger-color--100);
      }
      .fa-equals {
        margin-left: 25px;
        position: relative;
      }
      .fa-sort-up {
        margin-left: 25px;
        position: relative;
        top: 3px;
      }
      .fa-sort-down {
        margin-left: 25px;
        position: relative;
        top: -3px;
      }
      .fa-sort-up::before {
        // color: var(--pf-v5-global--danger-color--100);
      }
      .fa-sort-down::before {
        // color: var(--pf-v5-global--success-color--100);
      }
      span {
        margin-right: -17px !important;
      }
    }
  }
}
