@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.chartSkeleton {
  height: 125px;
  margin-bottom: var(--pf-t--global--spacer--md);
  margin-top: var(--pf-t--global--spacer--md);
}

.legendSkeleton {
  margin-top: var(--pf-t--global--spacer--md),
}

.reportSummary {
  height: 100%;
}

.subtitle {
  display: inline-block;
  font-size: var(--pf-t--global--font--size--xs);
  color: var(--pf-t--global--text--color--200);
  margin-bottom: 0;
}
