@import url("~@patternfly/patternfly/base/patternfly-variables.css");

// Workaround for https://github.com/patternfly/patternfly-react/issues/4477
// and https://github.com/patternfly/patternfly-react/issues/6371
.selectOverride {
  .pf-v5-c-menu-toggle {
    min-width: 250px;
  }
}

.toolbarOverride {
  .pf-v5-c-button.pf-m-control::after {
    border-left: none;
  }
  // Alternative workaround to overriding table sticky style
  // --pf-v5-c-toolbar--ZIndex: auto; z-index: 301;
}
