.breadcrumbOverride {
  .pf-v6-c-breadcrumb__item:not(:last-child) {
    margin-left: var(--pf-t--global--spacer--sm);
    margin-right: 0;
  }

  .pf-v6-c-breadcrumb__item-divider {
    margin-left: 0;
    margin-right: var(--pf-t--global--spacer--sm);
  }
}
