@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.explorerTableOverride {
  &.pf-v5-c-table {
    .pf-v5-c-table__sticky-column {
      z-index: 99;
    }
  }
  &.pf-v5-c-table tbody .pf-v5-c-table__check input {
    margin-top: .40rem;
  }
  .stickyColumn {
    --pf-v5-c-table--cell--Width: 1%;
  }
}
