name: Tag Release
on:
  push:
    branches:
      - prod-hccm
      - prod-ros
env:
  BRANCH: ${{ github.base_ref }}

jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ env.BRANCH }}
      - run: |
          git fetch --prune --unshallow
      - name: Tag this release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          DATE=$(date +"%Y.%m.%d")
          PREV_RELEASE=$(git tag --list | tail -1)
          MINOR_VERSION=0
          APP_PREFIX=${{ env.BRANCH }} | cut -d'-' -f2
          case $PREV_RELEASE in
            *"$DATE"*)
              MINOR_VERSION="$PREV_RELEASE" | cut -d'.' -f5
              MINOR_VERSION=$((MINOR_VERSION+1))
              ;;
            *)
              MINOR_VERSION=0
              ;;
          esac
          TAG="r-$APP_PREFIX.$DATE.$MINOR_VERSION"
          git config --local user.email "cost-mgmt@redhat.com"
          git config --local user.name "Cost Management Release Action"
          git log $(git tag --list | tail -1)..${{ env.BRANCH }} | git tag -a $TAG -F -
          git push origin $TAG
        shell: bash
